.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___abilities {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  background: #ffdfa7;
  padding: 5px;
  border: 5px solid #ca9650;
}

.fighter-preview___img {
  height: 320px;
}